* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
        font-family:Georgia, 'Times New Roman', Times, serif;
}


table{
    margin: 1rem auto;
    border-collapse: collapse;
}

caption {
    caption-side: bottom;
}

thead {
    
    color: white;
    background-color: black;
}

thead th {
    padding: 1rem;
}

thead .plan {
    color: gray;
}


tbody td:first-child {
    border-left: 1px solid rgb(160, 159, 159);
}

tbody td {
    text-align: center;
    border-right: 1px solid rgb(160, 159, 159);
    border-bottom: 1px solid rgb(160, 159, 159);
    padding: 0.7rem;
}

  tbody tr:nth-child(even) {
      background-color: #b8b7b7;
  }