* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header,
footer {
    color: white;
    background-color: darkslategrey;
}

header h1 {
    padding: 0.75em;
}

nav {

    background-color: black;
    color: white;
    margin-top: 2rem;

    box-sizing: border-box;
    transition: all .35s ease;

}

nav ul {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: center;
    padding: 0;

}

li {
    flex: 1 1 auto;
    margin: 0.75rem;
}



nav a {
    padding: .3em .7em;
    color: white;
    position: relative;
    text-decoration: none;
}


nav a::before,
nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .25s ease;
    opacity: 0;
}

nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid aqua;
    border-right: 3px solid aqua;
    transform: translate(-100%, 50%);
}

nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid aqua;
    border-left: 3px solid aqua;
    transform: translate(100%, -50%)
}

nav a:hover:before,
nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

nav a:hover {
    color: aqua;
}


main {
    background-color: rgb(161, 159, 159);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: row;
    column-gap: .5rem;
}

.main,
.aside {
    padding: 1rem;
    min-height: 8rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.main img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    max-width: 15%;


    height: auto;

    display: block;
    margin: 0 auto;

}

img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.aside {
    background-color: white;
}

footer {
    padding: 1rem;
    text-align: center;
    min-height: 4rem;
}



@media (max-width: 768px) {

    main {
        grid-template-columns: 1fr;
    }

    .main {
        flex-wrap: wrap;
    }
}